<header class="header home-header">
  <div class="container">
    <div class="toggle-language toggle-language__container" id="tg-lang-js">
      <button
        class="toggle-language__btn toggle-language__btn--rus"
        type="button"
        data-btn-lng="ru"
      >
        рус
      </button>
      <button
        class="toggle-language__btn toggle-language__btn--ukr"
        type="button"
        data-btn-lng="ua"
      >
        укр
      </button>
      <button
        class="toggle-language__btn toggle-language__btn--eng"
        type="button"
        data-btn-lng="en"
      >
        eng
      </button>
    </div>
    <nav class="main-nav">
      <h1>
        <a class="logo logo-js" href="#"
          ><img class="logo-ico" src="./images/logo.svg" alt="logo" /><span
            class="logo-text"
            data-key="filmoteka"
            >Filmoteka</span
          ></a
        >
      </h1>
      <ul class="nav-button-list">
        <li class="nav-button-list__item nav-button__home-js">
          <button
            class="nav__btn nav__btn-js active"
            data-action="home-page-rendering"
            data-key="home"
          >
            Home
          </button>
        </li>
        <li class="nav-button-list__item">
          <button class="nav__btn" data-action="my-library-rendering" data-key="library">
            My library
          </button>
        </li>
      </ul>
    </nav>
    <form class="search-form" id="search-form">
      <div class="search-box" id="search-box">
        <input
          class="search-field"
          id="search-field"
          type="text"
          name="query"
          autocomplete="off"
          placeholder="Search Movies..."
        />
        <button type="submit" class="search-btn"></button>
      </div>
      <p class="warning-message"></p>
      <div class="button-box visually-hidden">
        <button class="btn btn--first btn-current" id="js-watched-btn" data-key="watched">
          Watched
        </button>
        <button class="btn" id="js-queue-btn" data-key="queue">Queue</button>
      </div>
    </form>
  </div>
</header>
