<header class="library-header">
  <nav class="main-nav">
    <h1>
      <a class="logo" href="#">
        <img class="logo-ico" src="./images/logo.svg" alt="logo" />
        <span class="logo-text">Filmoteka</span></a
      >
    </h1>
    <ul class="nav-button-list">
      <li class="nav-button-list__item nav-button__home">
        <a href="./index.html" class="nav__btn" data-action="home-page-rendering">Home</a>
      </li>
      <li class="nav-button-list__item">
        <a class="nav__btn active" data-action="my-library-rendering">My library</a>
      </li>
    </ul>
  </nav>
  <div class="button-box">
    <button class="btn btn--first btn-current">Watched</button>
    <button class="btn">queue</button>
  </div>
</header>
