<main class="main">
  <div class="container">
    <div class="main-container">
      <ul class="film-cards-list film-cards-list-js"></ul>
    </div>
    <div class="library-main visually-hidden">
      <div class="library-container">
        <ul class="film-cards-list-watched"></ul>
        <ul class="film-cards-list-queue visually-hidden"></ul>
      </div>
    </div>
  </div>
  <div id="tui-pagination-container" class="tui-pagination"></div>
  

  <!-- разметка модального окна -->
  <div class="modal-container visually-hidden" id="modalContainer">
    <!-- само модальное окно -->
    <div class="modal-window">

      <button  class="modal-button-close" data-action="close-lightbox"></button>

      <!-- разметка вместмого в окне -->
      <div class="modal-window-content">
        


      </div>
    </div>
  </div>
</main>
