<main class="main">
  <div class="container">
    <div class="main-container">
      <ul class="film-cards-list film-cards-list-js"></ul>
    </div>
    <div class="library-main visually-hidden">
      <div class="library-container">
        <ul class="film-cards-list-watched-js film-cards-list"></ul>
        <ul class="film-cards-list-queue-js film-cards-list visually-hidden"></ul>
      </div>
    </div>
  </div>
  <div id="tui-pagination-container" class="tui-pagination"></div>
  

  <!-- разметка модального окна -->
  <div class="modal-container" id="modalContainer">
    <!-- само модальное окно -->
    <div class="modal-window">

    <!-- разметка кнопки закрытия окна -->
      <div class="modal-button-close">
        <button type="button" class="lightbox__button" data-action="close-lightbox"></button>
      </div>

      <!-- разметка вместмого в окне -->
      <div class="modal-window-content">
        <!-- див для картинки фильма -->
        <div class="modal-film-prewiew" >
          <img src="" id="filmPrewiew" class="filmPrewiew" />
        </div>
        <!-- див для основной информации -->
        <div class="modal-film-info">
          <!-- див для названия фильма -->
          <div class="name-container">
            <h3 class="film-name" id="filmName"></h3>
          </div>
          <!-- див для данных  -->
          <div class="film-mainInfo-container">
            <div class="film-keys" id="filmKeys">
              <ul>
                <li>Vote/Votes</li>
                <li>Popularity</li>
                <li>Original Title</li>
                <li>Genre</li>
              </ul>
            </div>
            <div class="film-values" id="filmValues">
              <ul>
                <li id="filmVotes"></li>
                <li id="filmPopularity"></li>
                <li id="filmOrigin"></li>
                <li id="filmGenre"></li>
              </ul>
            </div>
          </div>
          <!-- див для сюжета фильма -->
          <div class="film-plot">
            <p id="filmPlot"></p>
          </div>

        </div>
      </div>
      <!-- кнопки добавления -->
      <button class="watched" id="watched">ADD TO WATCHED</button>
      <button class="queued" id="queued">ADD TO QUEUED</button>
    </div>
  </div>
</main>
