.modal-container{
display: none;
position: absolute;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background: #000000;
opacity: 0.25;
}
.modal-window{
    top: 0;
    left: 0;
    width: 25vw;
    height: 25vh;
background: #FFFFFF;
}
.modal-window-content{
    display: flex;
}
.modal-film-prewiew{

background: #FFFFFF;
}
.film-mainInfo-container{
    display: flex;
}
.watched{

background: #FF6B01;
border-radius: 5px;
}

.queued{

background: #FFFFFF;
border-radius: 5px;
}