.film-poster {
  width: 240px;
  @media screen and (min-width: $tablet-size) {
    width: 264px;
  }
  @media screen and (min-width: $desktop-size) {
    width: 396px;
  }
}

.film-info {
  @media screen and (min-width: 1024px) {
    margin-left: 30px;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin-left: 32px;
  }
}

.film-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 1.17;
    margin-top: 0;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin-top: 0;
  }
}

.film-descr-container {
  display: flex;
  align-items: flex-start;
}
.film-description {
  list-style: none;
}
.film-descr-itm {
  font-size: 12px;
  line-height: 1.33;
  color: $text-details-color;
  margin-bottom: 10px;
}

.film-description-txt {
  margin-left: 39px;
  list-style: none;
  @media screen and (min-width: 1024px) {
    margin-left: 80px;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin-left: 39px;
  }
}

.film-descr-itm-txt {
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 10px;
  & .vote-ave {
    font-size: 12px;
    display: inline-block;
    padding: 1px 10px;
    color: $reverse-color;
    background: $bg-accent-color;
    border-radius: 5px;
  }
  & .vote-count {
    font-size: 12px;
    display: inline-block;
    background: $bg-color-btn-pagination-hover;
    border-radius: 5px;
    padding: 1px 4px;
  }
}

.about-title {
  font-size: 12px;
  line-height: 1.33;
  text-align: inherit;
  text-transform: uppercase;
  margin-top: 20px;
  @media screen and (min-width: 1024px) {
  }
}

.about-description {
  display: inline-flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  min-width: 240px;
  max-height: 150px;
  margin-top: 10px;
  overflow-y: scroll;
  justify-content: inherit;
  &::-webkit-scrollbar {
    width: 0;
  }
  @media screen and (min-width: $desktop-size) {
    max-width: 600px;
    max-height: 160px;
  }
  @media screen and (min-width: $tablet-size) and (max-width: $tablet-size - 1) {
    width: 264px;
  }
}

.button-add-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.modal-button {
  width: 113px;
  @media screen and (min-width: $tablet-size) {
    width: 125px;
  }
  @media screen and (min-width: $desktop-size) {
    width: 136px;
  }
  height: 44px;
  color: $reverse-color;
  background-color: $bg-accent-color;
  border: none;
  border-radius: $border-radius;
  text-transform: uppercase;
  margin-right: 15px;
  cursor: pointer;
}
