.film-poster {
  width: 240px;
  border-radius: $border-radius;
  @media screen and (max-width: $tablet-size - 1) {
    margin-bottom: 35px;
  }
  @media screen and (min-width: $tablet-size) {
    width: 264px;
    margin-right: 32px;
  }
  @media screen and (min-width: $desktop-size) {
    width: 396px;
    margin-right: 25px;
  }
}

.film-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 20px;
  @media screen and (min-width: $desktop-size) {
    font-size: 30px;
    line-height: 1.172;
  }
}

.film-descr-table {
  font-weight: 500;
  margin-bottom: 20px;
}
.film-descr-table td {
  width: 110px;
  padding: 5px 5px 5px 0;
}
.film-descr-itm {
  color: $text-details-color;
}

.film-descr-itm-txt {
  line-height: 1.66;
  margin-bottom: 10px;
  & .vote-ave {
    padding: 1px 10px;
    color: $reverse-color;
    background: $bg-accent-color;
    border-radius: 5px;
  }
  & .vote-count {
    background: $bg-color-btn-pagination-hover;
    border-radius: 5px;
    padding: 1px 4px;
  }
}

.about-title {
  text-align: inherit;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-description {
  display: inline-flex;
  font-weight: 500;
  line-height: 1.67;
  margin-top: 0;
  margin-bottom: 20px;
}

.button-add-container {
  display: flex;
}

.modal-button {
  width: 113px;
  font-weight: 500;
  @media screen and (min-width: $tablet-size) {
    width: 125px;
  }
  @media screen and (min-width: $desktop-size) {
    width: 136px;
  }
  height: 44px;
  color: $color;
  background-color: transparent;
  border-color: $color;
  border-radius: $border-radius;
  text-transform: uppercase;
  margin-right: 15px;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $bg-accent-color;
    border: $bg-accent-color;
    color: $reverse-color;
  }
  &:last-child {
    margin-right: 0;
  }
}
