.footer {
  background: $bg-color-footer;
  padding: 30px;
  font-size: 14px;
  line-height: 1.143;
  color: $text-footer-color;

  @media screen and (min-width: $tablet-size) {
    font-size: 16px;
    line-height: 1.188;
  }
}
.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-list-item {
  margin-bottom: 10px;
}
.footer-list-item:last-child {
  margin-bottom: 0;
}
.heart-ico {
  margin-right: 10px;
  margin-left: 10px;
  width: 14px;
  height: 12px;
}
.team-modal {
  text-decoration: underline;
  cursor: pointer;
  background-color: inherit;
  border: transparent;
  outline: none;
}
