.main {
  padding: 20px 20px 40px;

  @media screen and (min-width: $tablet-size) {
    padding: 60px 76px;
  }
  @media screen and (min-width: $desktop-size) {
    padding-right: 100px;
    padding-left: 100px;
  }
}

.film-cards-list {
  list-style: none;
  padding-top: 20px;
  padding-bottom: 40px;
  @media screen and (min-width: $tablet-size) {
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}
