.main {
  padding-top: 20px;
  padding-bottom: 40px;
  @media screen and (min-width: $tablet-size) {
    padding-top: 60px;
  }
}

.film-cards-list {
  list-style: none;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet-size) {
    width: 618px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;

    &::after {
      content: '';
      flex: auto;
    }
  }

  @media screen and (min-width: $desktop-size) {
    width: 882px;
  }
}

.card__film {
  width: 280px;
  cursor: pointer;
  transform: scale(1);
  box-shadow: none;
  transition: transform $timing $timing-func, box-shadow $timing $timing-func;
  margin: 0 auto;

  @media screen and (min-width: $mobile-size) and (max-width: ($tablet-size - 1)) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  

  @media screen and (min-width: $tablet-size) {
    width: 294px;
    &:not(:nth-last-of-type(-n + 2)) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet-size) and (max-width: ($desktop-size - 1)) {
    &:nth-child(odd) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: $desktop-size) {
    width: 274px;
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }
}

.card__film:hover,
.card__film:focus {
  transform: scale(1.01);
  -moz-box-shadow:0 0 10px $bg-accent-color;
  -webkit-box-shadow:0 0 10px $bg-accent-color;
  box-shadow:0 0 10px $bg-accent-color;
}

.card__film img {
  border-radius: $border-radius;
  margin-bottom: 10px;
  height: 402px;

  @media screen and (min-width: $tablet-size) {
    height: 398px;
  }
}

.card__title,
.card__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.card__title {
  text-transform: uppercase;
  color: $color;
  margin-bottom: 5px;
}

.card__text {
  display: flex;
  justify-content: space-between;
  color: $accent-color;
}

.card__vote_average {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.17;
  color: $reverse-color;
  background-color: $accent-color;
  border-radius: 5px;
}

.main-container {
  margin-bottom: 40px;

  @media screen and (min-width: $tablet-size) {
    margin-bottom: 50px;
  }
}
